.features {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    &__tittle {
        color: var(--text-primery-color);
        font-size: var(--fontSize-tittle);
        font-weight: 400;
        line-height: 1.1;

        padding: var(--paddingContainer);
    }

    &__sub-tittle {
        max-width: 552px;

        font-size: var(--fontSize-sub-tittle);
        color: var(--text-secondary-color);
        font-weight: 400;
        line-height: 1.4;
        text-align: center;

        padding: var(--paddingContainer);
    }

    &__cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        padding: 15px;
    }

    &__cards {
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    &__card {
        width: 255px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: var(--paddingContainer);
        text-align: center;
    }

    &__img {
        width: 45px;
    }

    &__card-tittle {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;

        padding: var(--paddingContainer);
    }

    &__card-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }

    &__video-container {
        position: relative;
        // padding: 0% 100% 75% 37%;
        padding: 0% 50% 57% 50%;
    }

    &__video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: inherit;
        border-radius: 45px;
        box-shadow: 0px 8.14769px 63.1446px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 575.98px) {
    .features {
        &__container {
            gap: 50px;
        }
        &_cards-container {
            gap: 50px;
        }
        &__cards-container {
            flex-direction: column-reverse;
        }
    }
}
