:root {
    --backGround-primery-color: #ffffff;
    --backGround-secondary-color: #252b42;
    --backGround-tertiary-color: #222b32;

    --text-primery-color: #252b42;
    --text-secondary-color: #374754;
    --text-tertiary-color: #ffffff;

    --decoration-primery-color: #2091f9;

    --fontSize-tittle: 48px;
    --fontSize-sub-tittle: 28px;

    --paddingContainer: 10px;
}
